In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Exercicio 30

pagina 70

In [5]:
e30 = pd.read_csv("https://www.ime.usp.br/~noproest/dados/areas.txt", sep=r"\s+")
e30.head()

   Id Bloco  Andar  Final  Sala  Cozinha  Banheiro  Dorm  Rachadura  Infiltr
0   1     A      1      1  27.8      7.9       5.0  11.6          0        0
1   2     A      1      2  28.3      7.3       5.4  13.1          0        0
2   3     A      1      3  27.1      7.1       5.0  14.9          0        0
3   4     A      1      4  26.5      8.4       3.9  12.4          1        1
4   5     A      2      1  27.7      7.6       4.7  12.1          0        0

a) prob de ser apartamento situado entre andares 4 e 7

b) qual a prob de o apartamento estar situado no bloco b

c) qual seria a probabilidade de voce ganhar um apartamento com algum problema de construção

d)repita os itens anteriores, dado que o apartamento está situado no bloco B.

In [22]:
# a)
andar = e30["Andar"].value_counts().reset_index()
andar['freq'] = round(andar['count']/andar['count'].sum(), 2)
a_result = andar[(andar['Andar'] >= 4) & (andar['Andar'] <= 7)]['freq'].sum()
print(f"Probabilidade de ser um andar entre 4 e 7 é: {a_result}")

Probabilidade de ser um andar entre 4 e 7 é: 0.2

In [33]:
# b)
bloco = e30["Bloco"].value_counts().reset_index()
bloco['freq'] = round(bloco['count']/bloco['count'].sum(), 2)
b_result = bloco[bloco['Bloco'] == 'B']['freq'].values[0]
print(f"Probabilidade de ser um apartamento no bloco B é: {b_result}")

Probabilidade de ser um apartamento no bloco B é: 0.5

In [59]:
# c)
probl = (e30["Rachadura"] + e30["Infiltr"]).value_counts().reset_index()
probl = probl.rename(columns={"index":"Problemas"})
probl['freq'] = round(probl['count']/probl['count'].sum(), 2)
c_result = round(probl[(probl['Problemas'] == 1) | (probl['Problemas'] == 2)]['freq'].sum(), 2)
print(f"Probabilidade de ser um apartamento com problemas é: {c_result}")

Probabilidade de ser um apartamento com problemas é: 0.57

In [58]:
# d)
e30_b = e30[e30["Bloco"] == "B"]

# A ----------------------------
andar = e30_b["Andar"].value_counts().reset_index()
andar['freq'] = round(andar['count']/andar['count'].sum(), 2)
a_result = andar[(andar['Andar'] >= 4) & (andar['Andar'] <= 7)]['freq'].sum()
print(f"No bloco B, a probabilidade de ser um andar entre 4 e 7 é: {a_result}")

# B ----------------------------
bloco = e30_b["Bloco"].value_counts().reset_index()
bloco['freq'] = round(bloco['count']/bloco['count'].sum(), 2)
b_result = bloco[bloco['Bloco'] == 'B']['freq'].values[0]
print(f"No bloco B, a probabilidade de ser um apartamento no bloco B é: {b_result}")

# C ----------------------------
probl = (e30_b["Rachadura"] + e30_b["Infiltr"]).value_counts().reset_index()
probl = probl.rename(columns={"index":"Problemas"})
probl['freq'] = round(probl['count']/probl['count'].sum(), 2)
c_result = round(probl[(probl['Problemas'] == 1) | (probl['Problemas'] == 2)]['freq'].sum(), 2)
print(f"No bloco B, a probabilidade de ser um apartamento com problemas é: {c_result}")

No bloco B, a probabilidade de ser um andar entre 4 e 7 é: 0.2
No bloco B, a probabilidade de ser um apartamento no bloco B é: 1.0
No bloco B, a probabilidade de ser um apartamento com problemas é: 0.59

# Exercicio 31

In [61]:
e31 = pd.read_csv("https://www.ime.usp.br/~noproest/dados/cancer.txt", sep=r"\s+")
e31.head()

   Ident  Grupo  Idade   AKP    P   LDH  ALB   N   GL
0      1      1     71   8.0  3.2   7.8   62   6  113
1      2      1     66  10.5  5.1  50.1   57   9   93
2      3      1     83   8.5  3.3  15.3   53  21  109
3      4      1     52  12.8  3.2  18.8   45  14   91
4      5      1     61   7.4  4.3  12.9   69  19   78

a) probabilidade de um paciente aleatório estar categorizado em cada uma dos tipos de diagnostico.

b)utilizando o item a, qual a probabilidade de um paciente ser diagnosticado como não tendo a doença

In [80]:
# A)
diag = e31["Grupo"].value_counts().reset_index().sort_values(by="Grupo")
diag['freq'] = round(diag['count']/diag['count'].sum(),2)

for i, value in enumerate(diag['freq']):
    print(f"Probabilidade de diagnostico {i+1}: {value}")
diag

Probabilidade de diagnostico 1: 0.15
Probabilidade de diagnostico 2: 0.4
Probabilidade de diagnostico 3: 0.26
Probabilidade de diagnostico 4: 0.18

   Grupo  count  freq
3      1     56  0.15
0      2    146  0.40
1      3     95  0.26
2      4     65  0.18

In [86]:
# B)
diag_nd = round(diag[(diag['Grupo'] == 2) | (diag['Grupo'] == 4)]['freq'].sum(), 2)
print(f"Probabilidade de escolher um paciente que não tem a doença: {diag_nd}")

Probabilidade de escolher um paciente que não tem a doença: 0.58

# Exercicio 32

In [91]:
ausp = pd.read_csv("https://www.ime.usp.br/~noproest/dados/aeusp.txt", sep=r"\s+", encoding="latin1")
ausp.head()

,Num,Comun,Sexo,Idade,Ecivil,Reproce,Temposp,Resid,Trab,Ttrab,Itrab,Renda,Acompu,Serief
0,1,JdRaposo,2,4,4,Nordeste,21,9,3,20,1,2.0,1.0,NaN
1,2,JdRaposo,2,1,1,Sudeste,24,9,1,1,14,2.0,2.0,7.0
2,3,JdRaposo,2,2,1,Nordeste,31,3,1,1,14,5.0,2.0,7.0
3,4,JdRaposo,1,2,2,Nordeste,10,3,1,4,10,5.0,2.0,11.0
4,5,JdRaposo,2,4,2,Nordeste,31,6,1,1,11,6.0,1.0,4.0

a) probabilidade do entrevistado ter idade menor que 35

b) dado que o entrevistado tem menos que 35, qual a prob de ser do sexo feminino

c) probabilidade de escolher um morador do Jardim Raposo que tenha acesso ao computador

d) probabilidade do entrevistado ter vindo do nordeste, seja do sexo feminino e esteja trabalhando. se esse morador for escolhido, qual a prob de ter carteira assinada?

In [108]:
# a)

idade = ausp["Idade"].value_counts().reset_index()
idade['freq'] = round(idade['count']/idade['count'].sum(), 2)
resp_a = round(idade[idade["Idade"] <= 2]['freq'].sum(), 2)
print(f"Probabilidade do entrevistado ter menos de 35 anos é: {resp_a}")

Probabilidade do entrevistado ter menos de 35 anos é: 0.6

In [123]:
# b)

fem = ausp[ausp['Idade'] <= 2]['Sexo'].value_counts().reset_index().sort_values(by="Sexo")
fem['freq'] = round(fem['count']/fem['count'].sum(), 2)
resp_b = fem.iloc[1]['freq']
print(f"Tendo menos que 35 anos, a probabilidade de ser mulher é: {resp_b}")

Tendo menos que 35 anos, a probabilidade de ser mulher é: 0.55

In [152]:
# c)

acomp = ausp['Comun'].value_counts().reset_index()
acomp['freq'] = round(acomp['count']/acomp['count'].sum(), 2)
jd_rap = acomp[acomp['Comun'] == "JdRaposo"]['freq'].values[0]

acomp2 = ausp[ausp['Acompu'] <= 2]['Acompu'].value_counts().reset_index()
acomp2['freq'] = round(acomp2['count']/acomp2['count'].sum(), 2)
acomp2 = acomp2['freq'][0]

resp_c = jd_rap * acomp2
print(f"Probabilidade de morar no jd raposo e ter acesso a computador: {resp_c}")

Probabilidade de morar no jd raposo e ter acesso a computador: 0.1659

In [192]:
# d)
nord = ausp['Reproce'].value_counts().reset_index()
nord['freq'] = round(nord['count']/nord['count'].sum(), 2)
nord = nord[nord['Reproce'] == 'Nordeste']['freq'][0]

sexo = ausp['Sexo'].value_counts().reset_index()
sexo['freq'] = round(sexo['count']/sexo['count'].sum(), 2)
sexo = sexo[sexo['Sexo'] == 2]['freq'][0]

trab = ausp['Trab'].value_counts().reset_index()
trab['freq'] = round(trab['count']/trab['count'].sum(), 2)
trab = trab[trab['Trab'] == 1]['freq'][0]

resp_d1 = round(nord * sexo * trab, 2)
print(f"Probabilidade de ser do nordeste, ser mulher e trabalhar: {resp_d1}")

cart = ausp[ausp['Ttrab']<6]['Ttrab'].value_counts().reset_index()
cart['freq'] = round(cart['count']/cart['count'].sum(), 2)
cart = cart[cart['Ttrab'] == 1]['freq'][1]
resp_d2 = round(cart*resp_d1, 2)
print(f"Probabilidade do escolhido acima também ter carteira assina: {resp_d2}")

Probabilidade de ser do nordeste, ser mulher e trabalhar: 0.17
Probabilidade do escolhido acima também ter carteira assina: 0.05